
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    font-family: 'Lato', 'sans-serif';
}
a:hover{
    text-decoration: none;
}

header{
    z-index: 1000;
}

/* top nav */
.top-nav{
    background-color: #eaeaea;
    font-size:13px;
    border:1px solid #eaeaea;
}

.header{
    position:fixed;
}

li{
    list-style-type: none;
}

li a{
    color:#4a4a4a;
    text-decoration: none;
}

li a:hover{
    color:#4a4a4a;
}

.why-licious::after,.certification::after,.about-us::after,.careers::after{
    content: '';
    position: absolute;
    height: 5px;
    width: 5px;
    background: #b4b4b4;
    border: 1px solid #b4b4b4;
    top: 10px;
    margin:-1px 12px;
    border-radius: 50%;
}

.downloads,.about-us,.careers,.contact-us{
    margin-left:32px;
}

.downloads a{
    margin-left: 10px;
}

.firstDiv{
    margin-bottom: -14px;
}  

.list{
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 768px){
    .firstDiv{
        display: flex;
        justify-content: space-between;
    } 

    
}

/* sub header */

.sub-header{
    background-color: #fff;
}

.secondDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.secondDiv a{
    color:#4a4a4a;
    text-decoration: none;
}

.location-container{
    display: flex;
}

.location{
    width: 140px;
    border: none;
    overflow: hidden;
    font-size: 14px;
    background-color: transparent;
    text-align: left;
    /* color:#4a4a4a; */
}

.loca{
    width: 25px;
    height: 25px;
    margin-top:14px;
}

.loctext{
    width: 150px;
    height: 70px;
    margin: auto;
}
.loctext>p{
    font-size: 12px;
    font-weight: bolder;
    margin: auto;
    margin-left: 4px;
    margin-top: 14px;
}

#locatext{
    background-color: transparent;
    color:#363535;
    opacity: 0.5;
}

.search-container{
    border: 1px solid #4a4a4a;
    border-radius:8px;
    /* background-color: #f8f8f8; */
    width:35%;
    margin:5px;
}

.search{
    padding:8px 0;
    background:transparent;
    border:none;
    cursor:pointer;
}
.search-content{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.search-content:hover{
    padding: 0 20px;
    transition: .3s;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 5%; */
    position: relative;
    font-size: 14px;
}

.title{
    font-weight: 600;
}

.menu-image{
    width:22px;
    height: 22px;
    margin-right: 10px;
}

.menu-bar ul {
    list-style: none;
    display: flex;
}

.menu-bar ul li {
    /* width: 120px; */
    padding: 10px 30px;
    /* text-align: center; */
    position: relative;
}

.menu-bar ul li a {
    /* font-size: 20px; */
    /* color: #4a4a4a;
    text-decoration: none; */
    transition: all 0.3s;
}

.menu-bar ul li a:hover {
    color:#d11243;
}

/* .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
} */

  /* dropdown menu style */
.dropdown-menu {
    display: none;
    background-color: #d6cbcb;
}

.menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    /* top: 100%; */
    
    /* opacity: .7; */
    border-radius: 8px;
}

.menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;

}

.menu-bar ul li:hover .dropdown-menu ul li {
    width:190px;
    padding: 10px;
    border-bottom:1px solid #e4d8d8;
}

.dropdown-menu ul li:hover{
    background-color: #fff;
    opacity: 1;
    color:#4a4a4a;
    font-weight:bold;
    font-size:16px;
}

.dropdown-menu-1 {
    display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    left: 190px;
    top: 0vh;
    background-color: #d6cbcb;
    border-radius: 8px;
}

.categories-dropdown-img{
    width:40px;
    height:30px;
}
.category-dropdown-title{
    padding-left: 8px;
}

@media screen and (max-width: 768px){
    .placeholder{
        display: none;
    }
}
@media screen and (min-width: 769px){
    .search{
        padding:8px 0;
        background:transparent;
        border:none;
        cursor:pointer;
        font-size: 15px;
        
    }
    .search-content{
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
    }
    
    .search-content:hover{
        padding: 0 20px;
        transition: .3s;
    }
}

.bulb-image {
    width: 30px;
    height:40px;
}

.light-dark-mode{
    margin: 14px 0;
}

/*main*/

main{
    background-color: #555353;
    background-color: #f7f6f6;
    padding:60px 0;
    color:#4a4a4a;
}

main a{
    text-decoration: none;
}

.category-heading{
    font-size:22px;
    line-height: 24px;
    font-weight: 600;
}

.sub-title-text{
    font-size:14px;
    line-height: 17px;
    font-weight: 400;
    color:#959799;
}

.category-image {
    border-radius: 16px;
}

.category-image:hover{
    padding: 5px;
    transition: .3s all ease-in-out;
}

.category-section {
    border-radius: 16px;
    background-color: #fff;
}
.category{
    text-align: center;
}
.category-name{
    font-family: 'Lato';
    font-weight:700;
    font-size: 16px;
    line-height: 24px;
    color:#3e4d60;
    /* color:#908f8f; */
}


/* @media screen and (min-width:768px){ */
    /* .cards-wrapper{
        display:flex;
    } */
/* } */


.carousel-control-prev ,.carousel-control-next{
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    padding:8px;
}

.card{
    border-radius: 0 0 16px 16px;
    margin:0 .7em;
    /* width:calc(100%/3); */
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}

/* .card img{
    max-width: 100%;
    max-height: 100%;
} */

/* .chunky-img{
    width: 368px;
    height:230px;
} */

.card-title{
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #4a4a4a;
}

.card-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #4a4a4a;
    margin-top: 1em;
    overflow: hidden;
}

.weight{
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: #4a4a4a;
}

.MRP{
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    color: #d11243;
}

.addToCartBtn{
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    padding: 10px 12px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
    background-color: #d11243;
    height: 36px;
    width: 100px;
}

.card span{
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: #4a4a4a;
}

.img-wrapper{
    height:18vw;
    margin:0 auto;
}

.img-wrapper img{
    max-width: 100%;
    max-height: 100%;
}


/* footer */
.city-heading-container{
    font-size: 15px;
    line-height: 23px;
    font-weight: 700;
    color:#4a4a4a;
}

.city_name{
    text-decoration: none;
    color: #4a4a4a;
    font-size: 13px;
    line-height: 20px;
}

.city_name:hover, .keep-in-touch a:hover{
    color:#d11243;
}

.city_name::after, .list-item-chicken::after{
    content:"|";
    margin: 15px;
}

.keep-in-touch span{
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    color:#4a4a4a;
    text-transform: uppercase;
}

.keep-in-touch a{
    color:#4a4a4a;
    padding:5px;
    text-decoration:none;
    font-size: 24px;
    margin-left: 10px;
}


.links ul li a{
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    color:#4a4a4a;
}

.heading{
    font-size: 14px;
    line-height: 25px;
    font-weight: 600;
    text-transform: uppercase;
}


.download a img{
    width:100px;
    height:30px;
    margin:5px;
}

.veri img{
    width:150px;
    height:30px;
}

.disclaimer h5 i,.disclaimer h5 span{
    font-size: 14px;
    line-height: 15px;
    font-weight: 600;
    color:#4a4a4a;
    margin:5px;
}

.year,.footer-popular-search-items{
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    color:#4a4a4a;
}

.disclaimer p{
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color:#4a4a4a;
}

