/* .main{
    width:80%;
    margin-left:10%;
    display: inline-block;
}

.card{
    width:28%;
    margin:0 .7em;
    height:350px;
    box-shadow: 5px 10px 15px gray;
    float: left;
}

.card > img{
    height:150px;
    width:100%
} */

.card{
    border-radius: 0 0 16px 16px;
    margin:0 .7em 1em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}

/* .card img{
    max-width: 100%;
    max-height: 100%;
} */

/* .chunky-img{
    width: 368px;
    height:230px;
} */

.card-title{
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #4a4a4a;
}

.card-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #4a4a4a;
    margin-top: 1em;
    overflow: hidden;
}

.weight{
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: #4a4a4a;
}

.MRP{
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    color: #d11243;
}

.addToCartBtn{
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    padding: 10px 12px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
    background-color: #d11243;
    height: 36px;
    width: 100px;
}

.card span{
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: #4a4a4a;
}

.img-wrapper{
    height:18vw;
    margin:0 auto;
}

.img-fluid{
    max-width: 100%;
    max-height: 100%;
}